# -------------------
# macOS / OSX
# -------------------
.DS_Store

# -------------------
# Xcode / iOS
# -------------------
ios/build/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
ios/Pods/
*.xcarchive
# iOS bundle outputs (if you ever bundle locally)
ios/main.jsbundle
ios/main.jsbundle.map
ios/main.jsbundle.meta

# -------------------
# Android / IntelliJ
# -------------------
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/app/.cxx/
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
*.jks
*.p12
.kotlin/
# Android JS bundle outputs (generated when bundling)
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.map
android/app/src/main/assets/index.android.bundle.meta

# -------------------
# Node.js
# -------------------
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
tmp/
temp/
*.tmp
*.temp
# JS/TS tool caches
.eslintcache
*.tsbuildinfo

# -------------------
# Metro Bundler
# -------------------
.metro-health-check*
.expo
.expo-shared
/metro-cache/
/.expo-packager-cache-babel-*

# -------------------
# Fastlane
# -------------------
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# -------------------
# Bundle artifacts
# -------------------
*.jsbundle
*.apk
*.aab

# -------------------
# Ruby / CocoaPods
# -------------------
/vendor/bundle/

# -------------------
# Testing
# -------------------
/coverage

# -------------------
# Yarn 2+
# -------------------
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# -------------------
# Misc / Editor
# -------------------
.vscode/
Thumbs.db

# -------------------
# Watchman
# -------------------
.watchmanconfig
.watchman

# -------------------
# Environment files
# -------------------
.env
.env.local
